[Desktop Entry]
Icon=text-html
Name=http://software.intel.com/en-us/html5/articles/fast-track-to-intel-xdk-new
Type=Link
URL[$e]=http://software.intel.com/en-us/html5/articles/fast-track-to-intel-xdk-new
