[Desktop Entry]
Icon=text-html
Name=http://software.intel.com/sites/default/files/managed/63/c4/fullcoursebook-2013-12-11.pdf
Type=Link
URL[$e]=http://software.intel.com/sites/default/files/managed/63/c4/fullcoursebook-2013-12-11.pdf
