[Desktop Entry]
Icon=unknown
Name=https://docs.jboss.org/author/display/MODE/ModeShape's+REST+Service
Type=Link
URL[$e]=https://docs.jboss.org/author/display/MODE/ModeShape's+REST+Service
