[Desktop Entry]
Icon=text-html
Name=http://www.w3.org/TR/html401/interact/scripts.html
Type=Link
URL[$e]=http://www.w3.org/TR/html401/interact/scripts.html
