[Desktop Entry]
Icon=text-html
Name=http://www.html5rocks.com/en/tutorials/webdatabase/websql-indexeddb/
Type=Link
URL[$e]=http://www.html5rocks.com/en/tutorials/webdatabase/websql-indexeddb/
